html,
body {
  background-color: var(--Light-gray);
  font-family: "Outfit", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

.qr-container {
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, 0%);
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 314px;
  border-radius: 20px;
  background-color: var(--White);
}

.qr-img-container > img {
  border-radius: 10px;
}

.qr-content-container {
  text-align: center;
  padding: 20px;
  width: 300px;
}

.qr-content-container > h3 {
  padding-bottom: 15px;
  font-size: 22px;
  color: var(--Dark-blue);
  font-weight: 700;
}

.qr-content-container > p {
  font-size: 15px;
  color: var(--Grayish-blue);
}
